<p style="color: green"><%= notice %></p>

<%= render @kitten %>

<div>
  <%= link_to "Edit this kitten", edit_kitten_path(@kitten) %> |
  <%= link_to "Back to kittens", kittens_path %>
  <p>
  </p>
  <%= button_to "Delete kitten", @kitten, method: :delete %>
</div>
